/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#footer {
  bottom: 20px;
  width: 100%;
  text-align: center;
  color: #ecf0f1;
  font-family: 'Cherry Swash',cursive;
  font-size: 16px;
}

#Logo_header {
  padding: 0px;
  text-align: center;
  color: white;
  font-size: 14px;
}

  /* Menu CSS */
nav {
    margin: 27px auto 0;
  
    position: relative;
    width: 590px;
    height: 50px;
    background-color: #34495e;
    border-radius: 8px;
    font-size: 0;
  }
  nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
  }
  nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
  }
  a:nth-child(1) {
    width: 100px;
  }
  a:nth-child(2) {
    width: 110px;
  }
  a:nth-child(3) {
    width: 100px;
  }
  a:nth-child(4) {
    width: 160px;
  }
  a:nth-child(5) {
    width: 120px;
  }
  nav .start-home, a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: #1abc9c;
  }
  nav .start-about, a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
    background-color: #e74c3c;
  }
  nav .start-blog, a:nth-child(3):hover~.animation {
    width: 100px;
    left: 210px;
    background-color: #3498db;
  }
  nav .start-portefolio, a:nth-child(4):hover~.animation {
    width: 160px;
    left: 310px;
    background-color: #9b59b6;
  }
  nav .start-contact, a:nth-child(5):hover~.animation {
    width: 120px;
    left: 470px;
    background-color: #e67e22;
  }
  
  body {
    font-size: 12px;
    font-family: sans-serif;
    background: #2c3e50;
  }
  h1 {
    text-align: center;
    margin: 40px 0 40px;
    text-align: center;
    font-size: 30px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Cherry Swash', cursive;
  } 
  
    p {
      
      bottom: 20px;
      width: 100%;
      text-align: left;
      color: #ecf0f1;
      font-family: 'Cherry Swash',cursive;
      font-size: 16px;
  }
  
  span {
      color: #2BD6B4;
  }

  /* Button CSS */
  .bn54 {
    font-family: 'Cherry Swash', cursive;
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 45px;
    width: 130px;
    opacity: 1;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.6);
  }
  
  .bn54 .bn54span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
  }
  
  .bn54:hover {
    animation: bn54rotate 0.7s ease-in-out both;
  }
  
  .bn54:hover .bn54span {
    animation: bn54storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
  }
  
  @keyframes bn54rotate {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
  
  @keyframes bn54storm {
    0% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
      transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
      transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
      transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
  }

/* Fileds CSS */
  #login_username, #login_pass, #F_username, #F_password, #F_repeat_password,
    #F_firstName, #F_lastName, #F_email, #F_date, #up_button, #down_button, 
    #left_button, #right_button, #pac_dots_num_settings, #time_setting, 
    #monster_setting{
    width: 400px;
    padding: 10px;
    font-size: 18px;
    outline:none;
    background: linear-gradient(to left top, #000, #22132e) fixed;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.2);
    color: rgba(255,255,255,0.8);
    transition: all 0.5s;
  }
  
  #login_username:hover:hover, #F_username:hover, #F_password:hover, 
  #F_repeat_password:hover, #F_firstName:hover, #F_lastName:hover, 
  #F_email:hover, #F_date:hover, #up_button:hover, #down_button:hover, 
  #left_button:hover, #right_button:hover, #pac_dots_num_settings:hover,
  #time_setting:hover, #monster_setting:hover{
    border: 2px solid rgba(255,255,255,0.5);
  }
  #login_username:focus, #login_pass:focus, #F_username:focus, 
  #F_password:focus, #F_repeat_password:focus,#F_firstName:focus,
  #F_lastName:focus, #F_email:focus, #F_date:focus, #up_button:focus,
  #down_button:focus, #left_button:focus, #right_button:focus,
  #pac_dots_num_settings:focus,#time_setting:focus, #monster_setting:focus {
    border: 2px solid rgba(255,255,255,0.5);
    background: linear-gradient(to left top, #000, #4e2d69) fixed;
  }


canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
}

#player_css {
  width: 100%;
  text-align: left;
  color: #ecf0f1;
  font-family: 'Cherry Swash',cursive;
  font-size: 16px;
}

.container2 {
  display: flex; 
  flex-direction: "row"; 
  justify-content: space-between;
}

p{
  color: #ecf0f1;
  font-family: 'Cherry Swash',cursive;
  font-size: 16px;
  line-height: 0.5 ;
}

u{
  color: #ecf0f1;
  font-family: 'Cherry Swash',cursive;
  font-size: 16px;
}